<div class="container">
  <h1>Ask a question</h1>

  <form action="/answer">
    <input type="text" name="question" placeholder="Say something">
    <input type="submit" value="Ask!">
  </form>
</div>
